/*
 * =================================================================== 
 *
 *  PHD Main Stylesheet
 *  url: tgsema.com
 *  30-1-2019
 * -------------------------------------------------------------------
 *
 *  TOC:   
 * 1-01. webfonts and iconfonts 
 * 1-02. base style overrides
 * 1-03. common styles

 **** Home *****
 1- cover
 2- about_partition

*** favourite ****
**** gold_stadiums ***


 /** 
 * ===================================================================
 * webfonts and iconfonts 
 *
 * ------------------------------------------------------------------- 
 */
 @font-face {
  font-family: 'FontAwesome';
  src: url('https://use.fontawesome.com/releases/v5.3.1/css/all.css'); 
 }
 @import url('https://fonts.googleapis.com/css?family=Cairo:400,600,700&subset=arabic');
body {
  font-family: 'Cairo', sans-serif;


   direction: rtl;
    font-size: 15px;
    color: #777;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
@media only screen and (max-width:1024px) {
  html {
    font-size: 9.375px;

  }
}
@media only screen and (max-width:768px) {
  html {
    font-size: 10px;

  }
  h3
  {
    font-size: 25px;
  }
}
@media only screen and (max-width:400px) {
  html {
    font-size: 9.375px;
  }
}
 
/*
*-
* common styles
*
*/
.m-t-em-7
{
  margin-top: 7em
}
.m-t-em-3
{
  margin-top: 3em
}
.m-t-em-2
{
  margin-top: 2em
}
.m-t-em-1
{
  margin-top: 1em
}
.m-b-em-3
{
  margin-bottom: 3em
}
.m-b-em-2
{
  margin-bottom: 2em
}
.m-b-em-1
{
  margin-bottom: 1em
}
.m-t-20
{
  margin-top: 20px;
}
.m-b-20
{
  margin-bottom: 20px
}
.m-t-15
{
  margin-top: 15px;
}
.m-t-10
{
  margin-top: 10px;
}
.m-b-10
{
  margin-bottom: 10px;
}
.m-b-5
{
  margin-bottom: 5px;
}
.m-t-5
{
  margin-top: 5px;
}

.padding-main
{
  padding: 3em 0;
}
/*color*/
.main-color
{
    color: #2f9b9d;
}
.secound-color
{
  color: #19a8cb;
}  
.yellow-color
{
  color: #e0db1b;
}
.background-main
{
  /*background-color: rgba(0, 131, 255, 0.02);*/
  background: #ede9e8;
}
.white-color
{
  color: #fff;
}
.bg-white
{
   background-color: #fff;
}
.black-color
{
   color: #000;
}
.section-title
{
  margin-bottom: 4em
}
/*border*/
.main_border
{
  border:1px solid #DFDFDF;
      border-radius: 15px;
}
.layer
{
  background:  #101010d9;
}
/* Links */
a {
    
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: 0;
}

/*
*
* common Style
*/
.btn-primary
{
      background-color: #2f9b9d;
          border-color: #2f9b9d;
    color: #fff;
    transition: all 0.4s;
        padding: 9px  34px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary.active:focus {
       box-shadow: 0 7px 20px 5px rgba(50, 63, 14, 0.3);
          background-color: #2f9b9d;
                    border-color: #2f9b9d;
    outline: none !important;
    
    transition: all 0.3s;
}
.btn-line
{
      background-color: transparent;
          border-color: #2f9b9d;
    color: #2f9b9d;
    transition: all 0.4s;
        padding: 6px 34px;
}

.btn-line:hover, .btn-line:focus, .btn-line:active, .btn-line.active, .open .dropdown-toggle.btn-btn-line, .btn-line:active:focus, .btn-line:active:hover, .btn-line.active:hover, .btn-line.active:focus {
       box-shadow: 0 7px 20px 5px rgba(50, 63, 14, 0.3);
         outline: none;
    
     background-color: #2f9b9d;
          border-color: #2f9b9d;
    color: #fff;
   
    transition: all 0.3s;
}
.btn-rounded {
  border-radius: 50px;
}
.title , .title2
{
  font-weight: bold;
  font-size: 2.5em;
}
.title:after {
  content: ' ';
  display: block;
  width: auto;
  height: 37px;
  margin: .3em;
  background-image: url("../img/line-2.png");
  background-repeat: no-repeat;
  background-position: center top;
}
.title2:after {
  content: ' ';
  display: block;
  width: auto;
  height: 37px;
  margin: .0.2em;
  background-image: url("../img/line-1.png");
  background-repeat: no-repeat;
  background-position: right;
}





header .navbar-default {
  background: #fff;
  border: none;
  background: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  padding: 0;
  
}
header .navbar-default {
  /*background: #fff;*/

  
}
header .navbar-default ul.navbar-nav {
  padding: 20px 0;
}
header .navbar-default ul.navbar-nav li a {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 16px;
  padding: 7px 17px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default ul.navbar-nav li a:after {
  content: '';
  width: 32px;
  background: none;
  height: 4px;
  position: absolute;
  bottom: 2px;
  z-index: 99999;
  left: 20px;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
  color: #ffffff;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default ul.navbar-nav li a:hover {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default ul.navbar-nav li a:hover:after {
  background: transparent;
}
header .navbar-default ul.navbar-nav li a.getApp {
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default ul.navbar-nav li a.getApp:hover, header .navbar-default ul.navbar-nav li a.getApp:focus, header .navbar-default ul.navbar-nav li a.getApp:focus
{
  background: #2f9b9d;
}
header .navbar-default ul.navbar-nav li a.getApp:after {
  display: none;
}
header .navbar-default ul.navbar-nav li a:focus {
  color: #ffffff;
}
header .navbar-default .navbar-brand {
  height: auto;
  padding: 0;
}
header .navbar-default.scrolled {
  background: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  padding: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
/*header .navbar-default.scrolled .navbar-brand {
  padding: 15px 20px;
}*/
header .navbar-default.scrolled .navbar-brand img {
  /*width: auto;*/
      max-height: 73px;
}
header .navbar-default.scrolled ul.navbar-nav {
/*  padding-top: 15px;*/
}
.navbar-brand img
{
      padding: 8px 5px;
    max-height: 69px;
}

/* Common style for pseudo-elements */
section::before,
section::after {
  position: absolute;
  content: '';
  pointer-events: none;
  overflow: hidden;
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.tp-caption {
  font-family: 'Changa', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.tp-caption.large_white_bold {
  color: #ffffff;
  font-size: 65px;
  font-weight: 400;
}
.tp-caption.large_white_light {
  color: #ffffff;
  font-size: 65px;
  font-weight: 400;
  font-weight: 300;
}

.navbar-fixed-top .navbar-collapse
{
  max-height: none;
}
@media screen and (max-width: 640px) {
  .logo {
    width: 100px;
    height: auto;
  }
  .slick-next {
    right: 0;
  }
  .slick-prev {
    left: 0;
  }
  .contact-details {
    margin-top: 20px;
  }
  header .navbar-default {
    padding: 20px;
  }
  header .navbar-default .navbar-toggle {
    margin-top: 0px;
    margin-right: 0px;
    background: none;
    border: 2px solid #2f9b9d;
    color: #2f9b9d;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    -ms-border-radius: 5em;
    -o-border-radius: 5em;
    border-radius: 5em;
  }
  header .navbar-default .navbar-toggle:hover,
  header .navbar-default .navbar-toggle:focus {
    background: none;
  }
  header .navbar-default ul.navbar-nav {
    padding-top: 0;
    margin: 0;
  }
  header .navbar-default ul.navbar-nav li a {
    padding: 10px;
    text-align: center;
  }
  header .navbar-default ul.navbar-nav li a.getApp {
    background: none !important;
    -webkit-border-radius: 0em;
    -moz-border-radius: 0em;
    -ms-border-radius: 0em;
    -o-border-radius: 0em;
    border-radius: 0em;
  }
  header .navbar-default .navbar-collapse {
    border-color: transparent;
  }
  header .navbar-default.scrolled .navbar-collapse {
    border-color: transparent;
  }
  header .navbar-default.scrolled ul.navbar-nav {
    padding-top: 0;
    margin: 0;
  }
  header .navbar-default.scrolled .navbar-toggle {
    margin-top: 11px;
    margin-right: 20px;
    background: none;
    border: 2px solid #2f9b9d;
    color: #2f9b9d;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    -ms-border-radius: 5em;
    -o-border-radius: 5em;
    border-radius: 5em;
  }
}


header .navbar-default ul.navbar-nav li a {
  color: #5a5858;
  font-weight: bold;
  background: none;
  cursor: pointer;
}
header .navbar-default ul.navbar-nav li a.getApp {
  color: #fff !important;
  background: #2f9b9d;
 
}
/**/
header .navbar-default ul.navbar-nav li a:hover
 {
  color: #2f9b9d;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

header .navbar-default ul.navbar-nav li a:active
 {
  color: #2f9b9d;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

header .navbar-default ul.navbar-nav li a:foucs
 {
  color: #2f9b9d;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default.scrolled {
  border-bottom: 1px solid #f4f9ff
}
header .navbar-default.scrolled ul.navbar-nav li a {
  color: #010101;
}
header .navbar-default.scrolled ul.navbar-nav li a:hover {
  color: #2f9b9d;
}
.count-info .label {
  line-height: 12px;
  padding: 2px 5px;
  position: absolute;
  right: 13px;
  top: 0px;
}
.nav > li > a i {
  margin-right: 6px;
}
.label-primary, .badge-primary {
  background-color: #1ab394;
  color: #FFFFFF;
}
.label-warning, .badge-warning {
  background-color: #f8ac59;
  color: #FFFFFF;
}
/*header .navbar-default.scrolled ul.navbar-nav li a:hover:after {
  background: #336799;
}*/
/*header .navbar-default.scrolled .navbar-brand {
  background: #336799;
}*/
.navbar-toggle {
  background-color: #CCC;
  border: 1px solid rgba(0, 0, 0, 0);
}

@media screen and (max-width: 640px) {
  header .navbar-default .navbar-toggle:hover,
  header .navbar-default .navbar-toggle:focus {
    background: none;
  }
  header .navbar-default ul.navbar-nav li a {
    color: #ffffff;
    border-bottom: 1px solid #376fa4;
  }
  header .navbar-default ul.navbar-nav li a.getApp {
    color: #ffffff;
  }

  header .navbar-default ul.navbar-nav li a:after {
    display: none;
  }
  header .navbar-default ul.navbar-nav li a:hover {
    color: #66cdcc;
  }
  header .navbar-default .navbar-collapse {
    background: #336799;
  }
  header .navbar-default.scrolled {
    background: #fff;
  }
  header .navbar-default.scrolled ul.navbar-nav li a {
    color: #fff;
  }
  header .navbar-default.scrolled ul.navbar-nav li a:hover {
    color: #2f9b9d;
  }
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #2f9b9d;
     background-color: transparent; 
}
.navbar-default.scrolled .navbar-nav>.active>a, .navbar-default.scrolled .navbar-nav>.active>a:focus, .navbar-default.scrolled .navbar-nav>.active>a:hover {
    color: #2f9b9d;
    background-color: transparent;
}
.dropdown .dropdown-menu li a
{
  padding: 3px 17px !important
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 19px;
}
.dropdown-menu
{
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
          border: 1px solid rgba(169, 163, 163, 0.15);
}
@media (max-width: 767px)
{
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #f7f5f5;
 }
 .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  color: #2f9b9d;
  background-color: transparent;
}
.count-info .label {
  
  
  right: auto;
 
}
}
#banner-static { 
    padding-top: 17em;
    padding-bottom: 12em;
}
#banner-static .title { 
  
    font-weight: bolder;

}


.second_nav 
{
  margin-top: 55px;

}
.frist-nav .social a
{
  font-size: 30px;
  color: #000;
  padding: 10px 6px;
}
.frist-nav .social a:hover
{
  
  color: #fff;
 

}
.frist-nav  .nav>li>a:focus, .frist-nav  .nav>li>a:hover {
  
  background-color: transparent;
}
.left-side li
{
  list-style: none;
}
.left-side
{
  padding: 1em
}
.left-side li {
  list-style: none;
  display: inline-block;
  padding: 0 1em;
  border-left: 2px solid #fff;
}
.left-side li:last-child
{
  border-left: none
}
.left-side li a
{
  color: #fff;
  cursor: pointer;
}
.left-side li a:hover
{
  color: #2f9b9d;
}
@media only screen and (max-width:768px) {
  #banner-static {
    padding-top: 8em;
  
    padding-bottom: 8em;
  }
  #banner-static h2
  {
    font-size: 1.3em;
  }
  .second_nav 
{
  margin-top: 0
}
}

.form-control {
  
  height: 44px;
 
  font-size: 14px;
 
  color: #fff;
  background-color: #11130ec2;

  border: 1px solid #ccc0;
  border-radius: 8px;
 
}
.input-group-addon:last-child
{
      border-left-style: none; 
}
.input-group-addon
{
  color: #fff;
  background-color: #11130ec2;

  border: 1px solid #ccc0;
  }

/*
*
*about_partition
*
*/
#about_partition .icon
  {
    background: #4c4a4b;
    color: #ede9e8;
    padding: 1em;
    border-radius: 50%;
    height: 43px;
    line-height: 0.5;
  }
  #about_partition .media-heading
  {
    color: #4c4a4b;
    font-weight: bold;
  }
  #about_partition .section-content  p
  {
    line-height: 2;
  }
  /*
  *
  * video
  *
  */
  .owl-carousel .owl-video-tn {
    background-size: cover;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
  }
  
  .owl-video-frame {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
  }
  
  .owl-video-frame iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .owl-dots {
    text-align: center;
    margin-top: 20px;
  }
  
  .owl-dot {
    display: inline-block;
  }
  
  .owl-dot span {
    width: 11px;
    height: 11px;
    background-color: #ccc;
    border-radius: 50%;
    display: block;
    margin: 5px 3px;
  }
  
  .owl-dot.active span {
    background-color: #fff;
  }
  .owl-carousel {
    direction: ltr;
}
.owl-carousel .item-video { height: 300px; }
iframe
{
  width: 100%; 
  height : 100%
}

.owl-dot span {
  width: 11px;
  height: 11px;
  background-color: #309e9f;
  border-radius: 50%;
  display: block;
  margin: 5px 3px;
}

/*
*
*
* best playground
*/

#best_playground  .item
{
margin: 1em;
background: #ede9e8
}

#best_playground .post .post-meta {
  margin-top: 15px;
  margin-bottom: 15px;
}
#best_playground .post-title
{
  
  max-height: 1.3em;
  overflow: hidden;

}
#best_playground  img
{
  min-height: 13em;
  max-height: 13em;
  width: 100%
}
#best_playground  .post-body
{
  padding: 0 1em 1em; 
  direction: rtl;
  border-bottom: 2px solid #42ced1;
}
#best_playground  .post-body i
{
padding: .5em;
color: #3dced1
}
#best_playground  .post-body .Subtitle
{
  color: #777;
  font-weight: 600;
}
#best_playground .owl-theme .owl-controls .owl-page span
{
  display: none
}
.owl-prev
{
  background-color: #309e9f;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 1px 3px 0 rgba(0,0,0,0.12);
    cursor: pointer;
    height: 48px;
    top: 116px;
    line-height: 3;
    width: 48px;
    position: absolute;
    z-index: 999;
    color: #ddd;
    left: 1em
}
.owl-next
{

  background-color: #309e9f;
  border-radius: 0 5px 5px 0;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 1px 3px 0 rgba(0,0,0,0.12);
  cursor: pointer;
  height: 48px;
  top: 116px;
  line-height: 3;
  width: 48px;
  position: absolute;
  z-index: 999;
  color: #ddd;
  left: 5em;
}
@media only screen and (max-width:768px) {
  .owl-next, .owl-prev
  {
    display: none
  }
}
/*
*
* news 
*
*/
#best_playground  #owl-news .post-body
{
  overflow: hidden;
  max-height: 7em;
}
#best_playground #owl-news .post-body {
  background: #fff;
}

/*
*
* galary
*
*/
#gallary
{
  background-image: url("../img/post-1.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.sl-overlay {
  background: #231f1f;
}
#gallary .container .gallery a img {
  
  border: none;
  padding-bottom: 1em;
}
/*
*
* Contact
*
*/
#Contact
{
  background: url('../img/gallery-bg-2.jpg');   background-repeat: no-repeat;
  background-size: cover;     background-position: center center;background-attachment: fixed;
}


#footer
{
  background: #2b2b2b;
  padding: 2em 0 0;
}
#footer .title {
  font-size: 1.5em !important;
}
#footer .title:after
{
  background-position: right;
}
#footer .quick-links i
{
  padding: 0.3em;
  color: #2f9d9e;
  font-size: 1.2em;
}
#footer .quick-links a
{
  color: #777;
}
#footer .quick-links a:hover
{
  color: #2f9d9e;

}
#footer .social i
{
  color: #fff;
  padding: 0 .4em
}
#footer .social i:hover
{
  color: #2f9d9e;
}
#footer .bootom
{
  background: #3dccd0;
    padding: .3em;
    color: #fff;
}

/*
*
* modal login
*
*/
.login .input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.login  .icon {
  padding: 10px;
  background: #ffffff;
  color: #777;
  min-width: 50px;
  border-left: 1px solid #ddd;
}

.login .input-field {
  width: 100%;
  padding: 7px 0;
  outline: none;
  border: none;
}
.login .form-control 
{
  border: none
}


.login .input-field:focus {
  border: 2px solid #2f9d9e;
}

/* Set a style for the submit button */
.login .btn {
  background-color: #2f9d9e;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.login .btn:hover {
  opacity: 1;
}
.login .title2 {
  font-weight: bold;
  font-size: 1.6em ;
}
.login .title2:after {
  
  background-position: center;
}
.login .modal-content
{
  background: #edebec;
}


.datepicker {
  padding: 4px;
  border-radius: 4px;
  direction: ltr;
}

/*
*
* favourite
*
*/
#half_background
{
  background-image: url("../img/slider-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 4em;
 
  
}
#half_background .m-b-em-1 
{
  margin-bottom: 0 !important
}
#half_background .content
{
  
  padding: 7em 0;
  color: #ddd;
  line-height: 2;
}
#half_background .content p
{
  line-height: 2.5
}
#title_background
{
  background-image: url("../img/pag.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#title_background .block
{
  margin: 1em 0 ;
    font-weight: bold;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #2f9b9d;
  border-color: #2f9b9d;
}
.pagination>li>a, .pagination>li>span
{
  color: #2f9b9d;
}

/*
*
* gold_stadiums
*
*/
#gold_stadiums 
{
  background: #ddd;
}
#gold_stadiums  .left_side .block .icon
{
  background: #68d4d6;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 2;
  font-size: 1.4em;
  text-align: center;
  color: #fff;
}
#gold_stadiums  .left_side .block  .content
{
  margin-top: .5em
}
/*
*
* regester
*
*/
/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  margin-top: 20px;
  margin-left: 50px;
  
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #3dccd0;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #3dccd0;
  background-image: #3dccd0;
  color: #ffffff;
  border: none;
}
div.bhoechie-tab-menu div.list-group>a.active:after {
  content: '';
  position: absolute;
  right: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-right: 10px solid #3dccd0;
}

div.bhoechie-tab-content{
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding: 1em;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}

/*
*
* matches
*
*/
#best_playground .avatar {
  -webkit-border-radius: 50%;
  border-radius: 50%;
    width: 78px;
    margin-right: 8px;
    margin-top: -60px;
    overflow: hidden;
    border: 3px solid #fff;
}
#best_playground  .avatar img
{
  min-height: 5em;
  max-height: 5em;
  max-width: 5em;
  min-width: 5em;
}
/*
*
* select match
*/
#gold_stadiums .btn-default {
  color: #333;
  background-color: #908d8d;
  border-color: #ccc;
  color: #fff;
  padding: 9px 34px;
}
/*
*
*contactUS
*
*/
#contactUS {
  background: #ddd;
}
#contactUS .form-control {
  
  font-size: 14px;
  color: #fff;
  background-color: #fdfdfdc2;
  border: 1px solid #ccc0;
  border-radius: 8px;
}
#contactUS .left_side .block .icon {
  background: #68d4d6;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 2;
  font-size: 1em;
  text-align: center;
  color: #fff;
}
#contactUS .left_side .block
{
  margin-top: .5em
}
#contactUS .left_side  .social .icon {
  background: #68d4d6;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 2;
  font-size: 1em;
  text-align: center;
  color: #fff;
}
/*
*
* user_home
*
*/
#user_home .block
{
background: #f2eeef; 
   padding: 1.2em;
border-radius: 5px;
margin-top: 1.2em;
}
#user_home .block .block_img img
{
  height: 5em;
  padding: .7em;
}
#user_home .block .block_content a
{
font-weight: bold;
font-size: 1.3em;
color: #000;
cursor: pointer;
}
#user_home .block .block_content
{
  padding-top: 1em
}


/*
*
* request
*
*/
.md-tabs {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
  border: 0;
  padding: .7rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: -20px;
  background-color: #2bbbad;
  z-index: 1;
  position: relative;
  -webkit-border-radius: .25rem;
  border-radius: .25rem;
}
.md-tabs .nav-item.open .nav-link, .md-tabs .nav-link.active {
  background-color: rgba(0,0,0,.2);
  color: #fff;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  -webkit-border-radius: .25rem;
  border-radius: .25rem;
  border: none;
}
.tab-content {
  padding: 1rem;
  padding-top: 2rem;
}

.card {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  border: 0;
  font-weight: 400;
}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:hover, .nav-tabs.nav-justified>.active>a:focus {
  border: 1px solid transparent
}
.nav-tabs.nav-justified>li>a {
  border-bottom: 1px solid transparent
 
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus , .nav-tabs>li>a:hover{
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  background-color: rgba(0,0,0,.2);
  color: #fff;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  -webkit-border-radius: .25rem;
  border-radius: .25rem;
  border: none;
}
.nav-tabs.nav-justified>li>a {
  color: #fff;
  border-bottom: 1px solid transparent;
}
#request .content img
{
  max-height: 4em;
  border: 2px solid #ddd;
}
#request .content p
{
  margin-top: 1em;
}
@media only screen and (max-width:768px) {
  #request .content p
  {
    text-align: center
  }
}

/*
*
* chat
*
*/


#request .nano {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#request .nano>.nano-content {
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#request .pad-all {
  padding: 15px;
}
#request .mar-btm {
  margin-bottom: 15px;
}
#request .media-block .media-left {
  display: block;
  float: left;
}
#request .img-sm {
  width: 46px;
  height: 46px;
}
#request .media-block .media-body {
  display: block;
  overflow: hidden;
  width: auto;
}
#request .pad-hor {
  padding-left: 15px;
  padding-right: 15px;
}
#request .speech {
  position: relative;
    background: #61cd78;
    color: #ffffff;
    display: inline-block;
    border-radius: 14px;
    padding: 12px 20px;
}
#request .speech:before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  top: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid #61cd78;
  margin: 15px 0 0 -6px;
}
#request .speech-right>.speech:before {
  left: auto;
  right: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #ffdc91;
  border-right: 0;
  margin: 15px -6px 0 0;
}
#request .speech .media-heading {
  font-size: 1.2em;
  color: #2a6136;
  display: block;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  margin-bottom: 10px;
  padding-bottom: 5px;
  font-weight: 300;
}
#request .speech-time {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: .8em;
  font-weight: 300;
}
#request .media-block .media-right {
  float: right;
}
.speech-right {
  text-align: right;
}
#request .pad-hor {
  padding-left: 15px;
  padding-right: 15px;
}
#request .speech-right>.speech {
  background: #ffda87;
  color: #a07617;
  text-align: right;
}
#request .speech-right>.speech .media-heading {
  color: #a07617;
}


#request  .nano>.nano-pane {
  background-color: rgba(0,0,0,0.1);
  position: absolute;
  width: 5px;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: all .7s;
  transition: all .7s;
}
#request  #gold_stadiums {
   background: #fff
}
/*
*
* messages
*
*/
.mail-box {
  background-color: #ffffff;
  border: 1px solid #e7eaec;
  border-top: 0;
  padding: 0;
  margin-bottom: 20px;
}
table.table-mail tr td {
  padding: 12px;
}
.table-mail .mail-date {
  padding-right: 20px;
}
.unread
{
  
  background: #f7f7f7;
}
.mail-box  a
{
  color: #777;
}
.mail-ontact a
{
  color: #2bbbad;
  font-weight: bold
}
/*
*
* profile
*
*/
#profile
{
  background: #ede9e8;
}
#profile .media-heading
{
  font-weight: bold
}
/*
*
* add playground
*
*/
.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f304";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#add_playground .add .login .input-field {
  padding: 1px 0;
}
#add_playground .add .login 
{
  padding: 0 3em
}
#add_playground .add .login .input-field:focus {
  border: none
}
#add_playground .add .login h3
{
  font-weight: bold
}
#user_home .block .block_content p
{
  font-weight: bold;
    font-size: 1.3em;
    color: #000;
    cursor: pointer;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .7 !important;
  z-index: 1035;
  background-color: #000;
}